[submodule "dot-hugo-documentation-theme"]
	path = dot-hugo-documentation-theme
	url = https://github.com/themefisher/dot-hugo-documentation-theme.git
[submodule "themes/dot-hugo-documentation-theme"]
	path = themes/dot-hugo-documentation-theme
	url = https://github.com/themefisher/dot-hugo-documentation-theme
[submodule "themes/ace-documentation"]
	path = themes/ace-documentation
	url = https://github.com/vantagedesign/ace-documentation
[submodule "themes/--name"]
	path = themes/--name
	url = https://github.com/themefisher/dot-hugo-documentation-theme
